.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.approval-form {
  display: flex;
  flex-direction: column;
  background: pink;
  width: 60%;
  margin: 30px auto;
}

.approval-form input {
  width: 100px;
}

.manager-label-section {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 10px auto;
}

.manager-label-section label {
  padding-right: 5px;
}